name: VirGL Renderer 构建 (aarch64)

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "0 22 * * *"

jobs:
  check-updates:
    runs-on: ubuntu-24.04-arm
    outputs:
      new_commit: ${{ steps.check.outputs.new_commit }}
    steps:
      - name: 检查更新
        id: check
        run: |
          LATEST_HASH=$(git ls-remote https://gitlab.freedesktop.org/virgl/virglrenderer.git refs/heads/main | awk '{print $1}')
          STATE_FILE=".virglrenderer_latest_commit"
          if [ -f "$STATE_FILE" ]; then
            LAST_HASH=$(cat $STATE_FILE)
          else
            LAST_HASH=""
          fi
          if [ "$LATEST_HASH" != "$LAST_HASH" ]; then
            echo "new_commit=true" >> $GITHUB_OUTPUT
          else
            echo "new_commit=false" >> $GITHUB_OUTPUT
          fi

  build:
    needs: check-updates
    if: ${{ needs.check-updates.outputs.new_commit == 'true' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v4

      - name: 安装依赖
        run: |
          sudo apt update
          sudo apt install -y meson ninja-build libdrm-dev libepoxy-dev libegl1-mesa-dev libgbm-dev

      - name: 克隆源码
        run: git clone https://gitlab.freedesktop.org/virgl/virglrenderer.git

      - name: 构建
        run: |
          cd virglrenderer
          mkdir -p build && cd build
          meson setup .. -Dvenus=true
          ninja
          GIT_HASH=$(git rev-parse --short HEAD)
          echo "GIT_HASH=${GIT_HASH}" >> $GITHUB_ENV

      - name: 打包
        run: |
          cd virglrenderer/build
          INSTALL_DIR=$(mktemp -d)
          DESTDIR=$INSTALL_DIR ninja install
          
          TAR_NAME="virglrenderer-$(date +%Y%m%d)-${GIT_HASH}-aarch64.tar.gz"
          tar -czvf "../../${TAR_NAME}" -C "$INSTALL_DIR" .
          echo "TAR_NAME=${TAR_NAME}" >> $GITHUB_ENV
          
          rm -rf "$INSTALL_DIR"

      - name: 上传产物
        uses: actions/upload-artifact@v4
        with:
          name: virglrenderer-aarch64
          path: ${{ env.TAR_NAME }}

      - name: 更新提交记录
        if: ${{ needs.check-updates.outputs.new_commit == 'true' }}
        run: |
          echo "$(git ls-remote https://gitlab.freedesktop.org/virgl/virglrenderer.git refs/heads/main | awk '{print $1}')" > .virglrenderer_latest_commit
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add .virglrenderer_latest_commit
          git commit -m "更新virglrenderer提交记录"
          git push
